<!-- views/partials/header.hbs Handles header rendering. Call in body before all other html -->
<header class="site-header">
  <nav class="navbar">
    <div class="nav-left">
      <a href="/" class="nav-logo">Home</a>
      <a href="/comments">Comments</a>
      {{#if user.isLoggedIn}}
        <a href="/comment/new">Post</a>
        <a href="/chat">Chat</a>
        <a href="/profile">Profile</a>
      {{else}}
        <a href="/register">Register</a>
      {{/if}}
    </div>

    <div class="nav-right">
      {{#if user.isLoggedIn}}
        <span class="welcome">Hello, {{user.username}}!</span>
        <form action="/logout" method="post" class="logout-form">
          <button type="submit" class="logout-btn">Logout</button>
        </form>
      {{else}}
        <a href="/login" class="login-link">Login</a>
      {{/if}}
    </div>
  </nav>
</header>
