<header>
    <nav>
        <a href="/">Home</a>
        <a href="/register">Register</a>
        <a href="/login">Login</a>
        <form action="/logout" method="post">
        <button type="submit">Logout</button>
        </form>
    </nav>
</header>
