<!-- views/chat.hbs, handles socket.io rendering -->
<!DOCTYPE html>
<html>
<head>
  <title>Live Chat</title>
  <link rel="stylesheet" href="/css/chat.css">
  <link rel="stylesheet" href="/css/header.css">
  <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
  {{> header}}

  <main class="chat-container">
    <!-- Add all chat messages to this -->
    <div id="chat-box"></div>

    <form id="chat-form">
      <input id="chat-input" autocomplete="off" placeholder="Type a message..." />
      <button class="chat-send-btn">Send</button>
    </form>
  </main>
  <!-- Could use the CDN approach, but this works better, and doesn't rely on another website -->
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/chat.js"></script>
</body>
</html>
